/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */


@font-face {
    font-family: 'ChunkFive';
    font-weight: 400;
    src: url('/fonts/chunkfive-regular-webfont.woff2') format('woff2'),
    url('/fonts/chunkfive-regular-webfont.woff') format('woff'); 
}

h1 {
    font-family: 'ChunkFive';
}

h2 {
    font-family: 'Chunkfive';
}

h3 { 
    font-family: 'Chunkfive';
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: white;
}

/* Hier begint de header*/
header nav {
  display: flex;
  justify-content: space-between;
}

header img {
    width: 50%;
    padding: 1em;
}

button.hamburgermenu {
    width: 40px;
    height: 40px;
    border: none;
    background-color: #ffffff;
    background-image:url(/images/hamburger-menu-4.png);
    background-size: cover;
    margin: 1em;
    padding: 1em;
}

header button{
    background-color: #201460;
    color: white;
    width: 100px;
}

nav ul{
    display: none;
    list-style: none;
}

nav ul.open {
    display:block
}

section button {
    background-color: #ffbc0e;
    margin: 1em;
    padding: 1em;
    border-radius: 3em;
    font-weight: 600;
    border: none;
}

body {
    padding: 0;
    margin: 0;
    margin-bottom: 0;
}

.dark-mode{
    background-color: black;
    color: white;
}

body main img {
    max-width: 100%;
    padding: 0%;
}

main section article {
    padding: 1em;
}

main {
    padding: em;
}

/*css voor de bohemian rasberry sectie*/
section:nth-of-type(1) div{
    padding: 1em;
}


/*css voor de verkooppunten sectie*/
section:nth-of-type(2) {
    padding: 1em;
}

/*css voor de verkooppunten img*/
section:nth-of-type(2) img {
    border-radius: 1em;
}

/*css voor de doe mee sectie*/
section:nth-of-type(3) {
    background-color: #201460;
}

/*css voor de doe mee heading*/
section:nth-of-type(3) h2{
   color: #ffffff;
}

/*css voor de doe mee p*/
section:nth-of-type(3) p{
   color: #ffffff;
}

/*css voor de doe mee div*/
section:nth-of-type(3) div{
   padding: 1em;
   
}

/*css voor de topverhalen sectie*/
section:nth-of-type(4) {
    max-width: 100vw;
}

section:nth-of-type(4) h2 {
    padding: 1em;
}

section:nth-of-type(4) div {
    display: flex;
    flex-wrap: wrap;
}
section:nth-of-type(4) div article {
    flex-basis: 50%;
}

section:nth-of-type(4) img {
    border-radius: 1em;
    
}

/*css voor het bovenste gedeelte van de footer*/
section:nth-of-type(5) {
    background-color: #c4e7f3;
    padding: 1em;
}

section:nth-of-type(5) article{
    display: flex;
}

section:nth-of-type(5) div {
    margin: 1em;
}

section:nth-of-type(5) article img{
    max-width: 15%;
}

footer {
    background-color: #2a5729;
}

footer section{
    background-color: #2a5729;
    padding: 1em;
}

footer nav {
    padding: 1em;
}

footer nav img {
    margin: .5em;
}

footer form input{
    height: 50px;
    width: 300px;
    border-radius: 1em;
    padding: 1em;
}

footer button {
    border-radius: .5em;
    margin: 0;
}

footer h2{
    color: #ffffff;
    margin-top: 0;
}

footer p{
    color: #ffffff;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer a{
    color: #ffffff;
}

/* https://chatgpt.com/share/6936bc74-b810-8001-bcef-683394a8c1ca */
footer nav img{
    max-width: 10%;
    filter: brightness(0) invert(1);
}

footer section:nth-of-type(3) {
    background-color: #2a5729;
}

/*css voor de verkooppunten pagina begint hier*/


