/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    /* startje */
    --color-text:#111;
    --color-background:#eee;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

@font-face {
    font-family: 'ChunkFive';
    font-weight: 400;
    src: url('/fonts/chunkfive-regular-webfont.woff2') format('woff2'),
    url('/fonts/chunkfive-regular-webfont.woff') format('woff'); 
}

h1 {
    font-family: 'ChunkFive';
}

h2 {
    font-family: 'Chunkfive';
}

h3 { 
    font-family: 'Chunkfive';
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: white;
}

/* Hier begint de header*/
header nav {
display: flex;
justify-content: space-between;
}

header img {
    width: 50%;
    padding: 1em;
}

button.hamburgermenu {
    width: 40px;
    height: 40px;
    border: none;
    background-color: #ffffff;
    background-image:url(/images/hamburger-menu-4.png);
    background-size: cover;
    margin: 1em;
    padding: 1em;
}

header button {
    width: 10%;
    height: 30%;
}

nav ul{
    display: none;
    list-style: none;
}

nav ul.open {
    display:block
}

section button {
    background-color: #ffbc0e;
    margin: 1em;
    padding: 1em;
    border-radius: 3em;
    font-weight: 600;
    border: none;
}

body section div {
    margin: 1em;
}   

body section label{

}

body {
    padding: 0;
    margin: 0;
    margin-bottom: 0;
}

body main img {
    max-width: 100%;
    padding: 0%;
}

main section article {
    padding: 1em;
}

main {
    padding: em;
}

main section:nth-of-type(2)  {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

main section:nth-of-type(3) {
    padding: 1em;
}

main section:nth-of-type(4) {
    padding: 1em;
}

main section:nth-of-type(5) {
    padding: 1em;
}

.input {
    height: 40px;
    line-height: 28px;
    border-radius: 2em;
}

@keyframes zoekbar-animation {
    0% { 
        background-color:var(--start-color);
      }
      50% { 
        background-color:var(--end-color); 
      }
      100% { 
        background-color:var(--start-color);
      }
    }

label[aria-label="zoekbar"]:hover {
    animation-name:zoekbar-animation;
    animation-duration:1s;
}

label[aria-label="zoekbar"] {
    --start-color:crimson;
    --end-color:gold;
  }

li[aria-label="zoekbar"] {
background-color:var(--start-color);
}

li[aria-label="zoekbar"]:hover {
animation-name:zoekbar-animation;
animation-duration:2s;
animation-iteration-count:5;
}

@keyframes ijsje-animation {
    0% {
      rotate:360deg;
      scale: 1;
      
    }
    100% {
      rotate:0deg;
      scale: 1.5;
      
    }
  }

img[aria-label="ijsje"]:hover {
    animation-name:ijsje-animation;
    animation-duration:1s;
    animation-iteration-count: 5; 
}

main section ul li{
    list-style: none;
}
  

footer {
    background-color: #2a5729;
}

footer section{
    background-color: #2a5729;
    padding: 1em;
}

footer nav {
    padding: 1em;
    
}

footer h2{
    color: #ffffff;
    margin-top: 0;
}

footer p{
    color: #ffffff;
}

footer a{
    color: #ffffff;
}

footer nav img{
    max-width: 10%;
    
}

footer section:nth-of-type(3) {
    background-color: #2a5729;
}




