/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
    /* startje */
    --color-text:#111;
    --color-background:#eee;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

@font-face {
    font-family: 'ChunkFive';
    font-weight: 400;
    src: url('/fonts/chunkfive-regular-webfont.woff2') format('woff2'),
    url('/fonts/chunkfive-regular-webfont.woff') format('woff'); 
}

h1 {
    font-family: 'ChunkFive';
}

h2 {
    font-family: 'Chunkfive';
}

h3 { 
    font-family: 'Chunkfive';
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: white;
}

/* Hier begint de header*/
header nav {
display: flex;
justify-content: space-between;
}

header img {
    width: 50%;
    padding: 1em;
}

button.hamburgermenu {
    width: 40px;
    height: 40px;
    border: none;
    background-color: #ffffff;
    background-image:url(/images/hamburger-menu-4.png);
    background-size: cover;
    margin: 1em;
    padding: 1em;
}


header button{
    background-color: #201460;
    color: white;
    width: 100px;
}

nav ul{
    display: none;
    list-style: none;
}

nav ul.open {
    display:block
}

section button {
    background-color: #ffbc0e;
    margin: 1em;
    padding: 1em;
    border-radius: 3em;
    font-weight: 600;
    border: none;
}

section button:hover {
    background-color:  #e0a001;
    margin: 1em;
    padding: 1em;
    border-radius: 3em;
    font-weight: 600;
}

body section div {
    margin: 1em;
}   

body {
    padding: 0;
    margin: 0;
    margin-bottom: 0;
    transition: background-color .3s ease, color .3s ease;
}

body main img {
    max-width: 100%;
    padding: 0%;
}

.dark-mode{
    background-color: black;
    color: white;
}

main section article {
    padding: 1em;
}

main section:nth-of-type(2)  {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

main section:nth-of-type(3) {
    padding: 1em;
}

main section:nth-of-type(4) {
    padding: 1em;
}

main section:nth-of-type(5) {
    padding: 1em;
}

.input {
    height: 40px;
    width: 300px;
    border-radius: 2em;
    padding: 1em;
}

/* @keyframes zoekbar-animation {
    0% { 
        background-color:var(--start-color);
      }
      50% { 
        background-color:var(--end-color); 
      }
      100% { 
        background-color:var(--start-color);
      }
    }

label[aria-label="zoekbar"]:hover {
    animation-name:zoekbar-animation;
    animation-duration:1s;
}

label[aria-label="zoekbar"] {
    --start-color:crimson;
    --end-color:gold;
  }

li[aria-label="zoekbar"] {
background-color:var(--start-color);
}

li[aria-label="zoekbar"]:hover {
animation-name:zoekbar-animation;
animation-duration:2s;
animation-iteration-count:5;
} */

/* animatie die de img van het ijsje laat draaien. */
@keyframes ijsje-animation {
    0% {
      rotate:360deg;
      scale: 1;
      
    }
    100% {
      rotate:0deg;
      scale: 1.1;
      
    }
}

/* Media querie die ervoor zorgt dat de animatie van het ijsje niet draait als een gebruiker prefers-reduced-motion aan heeft staan. */
@media (prefers-reduced-motion: no-preference) {
    img[aria-label="ijsje"]:hover {
      animation-name: ijsje-animation;
      animation-duration: 1s;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    img[aria-label="ijsje"]:hover {
      animation: none;
    }
  }

img[aria-label="ijsje"]:hover {
    animation-name:ijsje-animation;
    animation-duration:1s;
}

main section ul li{
    list-style: none;
}
  

footer {
    background-color: #2a5729;
}

footer section{
    background-color: #2a5729;
    padding: 1em;
}

footer form input{
    height: 50px;
    width: 300px;
    border-radius: 1em;
    padding: 1em;
}

/* Display:none; mag niet aangezien de screenreader het label dan niet voorleest. code van: https://www.anysurfer.be/nl/documentatie/artikels/detail/verborgen-tekst */
.niet-zichtbaar{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

footer button {
    background-color:#e0a001 ;
    border-radius: .5em;
    margin: 0;
}

footer h2{
    color: #ffffff;
    margin-top: 0;
}

footer ul{
    list-style: none;
    padding: 0;
}

footer nav {
    padding: 1em;
}

footer nav img {
    margin: .5em;
}

footer p{
    color: #ffffff;
}

footer a{
    color: #ffffff;
    list-style: none;
}

/*  https://chatgpt.com/share/6936bc74-b810-8001-bcef-683394a8c1ca */
footer nav img{
    max-width: 10%;
    filter: brightness(0) invert(1);
}

footer section:nth-of-type(3) {
    background-color: #2a5729;
}




