/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}

/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
}

/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/* Font face die mijn gedownloade font ophaalt */
@font-face {
    font-family: 'ChunkFive';
    font-weight: 400;
    src: url('../fonts/chunkfive-regular-webfont.woff2') format('woff2'),
    url('../fonts/chunkfive-regular-webfont.woff') format('woff'); 
}

/* styling voor de h1 */
h1 {
    font-family: 'ChunkFive';
}

/* styling voor de h2 */
h2 {
    font-family: 'Chunkfive';
}

/* styling voor de h3 */
h3 { 
    font-family: 'Chunkfive';
}

/* styling voor de p */
p {
    font-family: Arial, Helvetica, sans-serif;
}

/* styling voor de header */
header {
    background-color: white;
}

/* styling voor de header navigatie*/
header nav {
  display: flex;
  justify-content: space-between;
}

/* styling voor het logo img */
header img {
    width: 50%;
    padding: 1em;
}

/* hamburger menu waar ik een button een img heb gegeven zodat het lijkt op een hamburger menu. Bron: samen met Vasilis van Gemert uitgevogeld in de les.*/
button.hamburgermenu {
    width: 40px;
    height: 40px;
    border: none;
    background-color: #ffffff;
    background-image:url(../images/hamburger-menu-4.png);
    background-size: cover;
    margin: 1em;
    padding: 1em;
}

/* styling voor de dark-mode button */
header button {
    background-color: #201460;
    color: white;
    width: 100px;
}

/* styling die ervoor zorgt dat de list items geen styling hebben */
nav ul {
    display: none;
    list-style: none;
}

/* nav ul open class die ervoor zorgt dat mijn items zichtbaar worden wanneer het getoggled wordt */
nav ul.open {
    display:block
}

/* styling voor de algemene button */
section button {
    background-color: #ffbc0e;
    margin: 1em;
    padding: 1em;
    border-radius: 3em;
    font-weight: 600;
    border-style: none;
}

/* styling voor de hover van de algemene button */
section button:hover {
    background-color:  #e0a001;
    margin: 1em;
    padding: 1em;
    border-radius: 3em;
    font-weight: 600;
}

/* styling voor de body, en styling voor de transition van de dark-mode(maakt hem vloeiend ipv directe switch) */
body {
    padding: 0;
    margin: 0;
    margin-bottom: 0;
    transition: background-color .3s ease, color .3s ease;
}

/* de dark-mode die gekoppelt wordt aan de body met de variabele element in mijn javascript */
.dark-mode {
    background-color: black;
    color: white;
}

/* styling voor de images in de main */
body main img {
    max-width: 100%;
    padding: 0%;
}

/* styling voor zorgt voor een kleine ruimte */
main section article {
    padding: 1em;
}

/*css voor de bohemian rasberry sectie*/
section:nth-of-type(1) div{
    padding: 1em;
}


/*css voor de verkooppunten sectie*/
section:nth-of-type(2) {
    padding: 1em;
}

/*css voor de verkooppunten img*/
section:nth-of-type(2) img {
    border-radius: 1em;
}

/*css voor de doe mee sectie*/
section:nth-of-type(3) {
    background-color: #201460;
}

/*css voor de doe mee heading*/
section:nth-of-type(3) h2{
   color: #ffffff;
}

/*css voor de doe mee p*/
section:nth-of-type(3) p{
   color: #ffffff;
}

/*css voor de doe mee div*/
section:nth-of-type(3) div{
   padding: 1em;
   
}

/*css voor de topverhalen sectie*/
section:nth-of-type(4) {
    max-width: 100vw;
}

section:nth-of-type(4) h2 {
    padding: 1em;
}

section:nth-of-type(4) div {
    display: flex;
    flex-wrap: wrap;
}
section:nth-of-type(4) div article {
    flex-basis: 50%;
}

section:nth-of-type(4) img {
    border-radius: 1em;
    
}

/*css voor het bovenste gedeelte van de footer*/
section:nth-of-type(5) {
    background-color: #c4e7f3;
    padding: 1em;
}

section:nth-of-type(5) article{
    display: flex;
}

section:nth-of-type(5) div {
    margin: 1em;
}

section:nth-of-type(5) article img{
    max-width: 15%;
}

/* css voor de footer */
footer {
    background-color: #2a5729;
}

footer section{
    background-color: #2a5729;
    padding: 1em;
}

footer nav {
    padding: 1em;
}

footer nav img {
    margin: .5em;
}

footer form input{
    height: 50px;
    width: 300px;
    border-radius: 1em;
    padding: 1em;
}

/* Display:none; is niet erg toegankelijk niet aangezien de screenreader het label dan niet voorleest. code van: https://www.anysurfer.be/nl/documentatie/artikels/detail/verborgen-tekst */
.niet-zichtbaar{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
 }
 
footer button {
    border-radius: .5em;
    margin: 0;
}

footer h2{
    color: #ffffff;
    margin-top: 0;
}

footer p{
    color: #ffffff;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer a{
    color: #ffffff;
}

/* Styling die ervoor zorgt dat al mijn images wit worden ipv zwart. Bron: https://chatgpt.com/share/6936bc74-b810-8001-bcef-683394a8c1ca */
footer nav img{
    max-width: 10%;
    filter: brightness(0) invert(1);
}

footer section:nth-of-type(3) {
    background-color: #2a5729;
}



